@import "tailwindcss";

/* Dark scrollbar styling */
.scrollbar-dark::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-dark::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

@custom-variant dark (&:where(.dark, .dark *));